<section class="property-binding">

    <article>
        <h3>Interpolation / Interpolação</h3>
        <p>string renderizada com interpolação: {{ url }}</p>
    </article>

    <article>
        <h3>Property Binding</h3>
         img src="{{ urlImg }}" <br>
        <img src="{{ urlImg }}"/> <br> <br>
        img [src]="urlImg" <br>
        <img [src]="urlImg"/> <br> <br>
        img bind-src="urlImg" <br>
        <img bind-src="urlImg"/>
    </article>

    <article>
        <h3>Class e Style Binding</h3>
        <div>Selecione uma opção
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Informações</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option>
            </select>

            <div class="alert {{ classe.value }}" role="alert">
                Test Alert
            </div>

              <div 
                class="alert " role="alert"
                [class.alert-success]="classe.value == 'alert-success'"
              >
                Sucesso
              </div>

              <div 
                class="alert " role="alert"
                [class.alert-info]="classe.value == 'alert-info'"
              >
                Informações
              </div>

              <div 
                class="alert " role="alert"
                [class.alert-warning]="classe.value == 'alert-warning'"
              >
                Alerta
              </div>

              <div 
                class="alert " role="alert"
                [class.alert-danger]="classe.value == 'alert-danger'"
              >
                Erro
              </div>

            <div class="alert alert-danger" role="alert"
              [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'"
            >
              Caraca deu um erro toperson
            </div>
        </div>
    </article>

    <article>
        <h3>Event binding</h3>
        <div>
            <button 
                (click)="buttonClicked()"
                class="btn btn-primary"
            >
                clique-me!
            </button>

            <br><br>
            
            <input type="text" (keyup)="onKeyUp($event)"/>

            <p 
                (mouseover)="OnMouseOverOut()"
                (mouseout)="OnMouseOverOut()"
                [class.highlight]="isMouseOver"
            >
            {{ isMouseOver == false ? 'Passe o mouse sobre mim' : valueInput }}
        </p>
        </div>
    </article>

</section>

<section class="two-way-binding">

    <article>

        <h3>Two-way data binding</h3>
        <div>
            <input 
                type="text" 
                [(ngModel)]="name"
            />

            <p>Você digitou o nome: {{ name }}</p>
        </div>

        <div>
          <input 
              type="text" 
              [(ngModel)]="person.name"
          />

          <input 
              type="number" 
              [(ngModel)]="person.age"
          />

          <p>
            Você, 
            {{ person.name }} tem, 
            {{ person.age }} anos
          </p>
        </div>
        
    </article>

</section>

<section>
  <article>
    <h2>Input Porperty</h2>
    <br><br>

    <code>< app-input-property title="Teste Titulo" /></code>
    <app-input-property title="Teste Titulo"></app-input-property>
    <code>< app-input-property [title]="titleTest" /></code>
    <br>

    <app-input-property [title]="titleTest"></app-input-property>
    <br><br><br>
    <h2>Output Porperty</h2>
    <app-output-property [value]="10" newValue="onNewValue($event)"></app-output-property>
  </article>
</section>